@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

header {
  background-color: #fff;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 25px;
  z-index: 1;
  gap: 30px;
}

header img {
  width: 24px;
  height: 24px;
}

.header-left,
.header-mid,
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-mid {
  flex: 1;
  justify-content: center;
  gap: initial;
}

.logo {
  width: 90px;
  height: 20px;
}

.search-input {
  width: 100%;
  max-width: 575px;
  padding: 10.5px;
  border: 1px #ccc solid;
  border-radius: 1px 0 0 1px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 41px;
  border: 1px #ccc solid;
  border-left: initial;
  border-radius: 0 1px 1px 0;
  background-color: #f8f8f8;
}

.mic-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40px;
  width: 110px;
  border: 1px #045fd4 solid;
  color: #045fd4;
  border-radius: 2px;
  font-size: 0.95rem;
  font-weight: 500;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1650px;
  margin-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
  gap: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-title {
  font-size: 1.1rem;
  margin: 20px 0;
}

.video-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #e0e0e0 solid;
  padding-bottom: 15px;
}

.video-panel-views-and-date {
  font-size: 0.9rem;
  color: #8b8b7c;
}

.video-panel-options {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.video-panel-options img {
  width: 24px;
  height: 24px;
}

.video-panel-options span {
  margin-left: 5px;
  margin-right: 20px;
}

.video-info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 0;
  border-bottom: 1px hsl(0, 0%, 85%) solid;
}

.video-info-author {
  display: flex;
  gap: 15px;
}

.video-info-author-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.video-info-author-text-name {
  font-size: 1rem;
  font-weight: 500;
}

.video-info-author-text-subs {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.video-info-author-picture img {
  border-radius: 50%;
}

.video-info-sub {
  display: flex;
  align-items: center;
  gap: 10px;
}

.video-info-sub button {
  border: 0;
  background-color: hsl(0, 0%, 93%);
  color: hsl(0, 0%, 50%);
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  padding: 9px 20px;
  border-radius: 2px;
}

.video-info-sub img {
  width: 24px;
  height: 24px;
}

.video-info-author-text-desc {
  font-size: 0.95rem;
  margin: 15px 0 7px 0;
}

.video-info-author-text-more {
  color: hsl(0, 0%, 40%);
  font-size: 0.8rem;
  font-weight: 500;
}

.comments-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.comments-info {
  display: flex;
  align-items: center;
}

.comments-info img {
  width: 24px;
  height: 24px;
  margin-left: 25px;
  margin-right: 10px;
}

.comments-sort-text {
  font-weight: 500;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 25px;
}

.comments-add {
  display: flex;
  gap: 15px;
}

.comments-add img {
  width: 48px;
  border-radius: 50%;
}

.comments-add input {
  font-size: 0.9rem;
  align-self: flex-start;
  padding: 7px 0;
  width: 100%;
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px hsl(0, 0%, 75%) solid;
}

.comment {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.comment-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-content img {
  width: 18px;
}

.comment-content-name {
  font-weight: 500;
  font-size: 0.8rem;
}

.comment-content-date {
  font-size: 0.8rem;
  color: hsl(0, 0%, 45%);
}

.comment-content-text {
  font-size: 0.95rem;
}

.comment-picture {
  border-radius: 50%;
}

.comment-content-likes-reply {
  display: flex;
  align-items: center;
}

.comment-content-likes-reply span {
  font-size: 0.9rem;
  color: hsl(0, 0%, 40%);
}

.comment-content-reply {
  margin-left: 20px;
  font-weight: 500;
}

.comment-content-likes-count {
  margin-left: 10px;
  margin-right: 15px;
}

.comment-content-more {
  display: flex;
  gap: 10px;
  font-weight: 500;
  color: #125fd3;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.sidebar-suggestion {
  display: flex;
  width: 360px;
}

.sidebar-suggestion img {
  display: flex;
  height: 94px;
  width: 168px;
}

.sidebar-suggestion-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 3px;
  margin-left: 5px;
}

.sidebar-suggestion-content-title {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.sidebar-suggestion-content-name,
.sidebar-suggestion-content-views-date {
  font-size: 0.8rem;
  color: hsl(0, 0%, 40%);
}

@media screen and (max-width: 1050px) {
  .content {
    flex-direction: column;
  }

  .sidebar,
  .sidebar-suggestion {
    width: 100%;
  }
}
